---
layout: default
title: wy's blog
---
<p>{{ site.posts.size }} {% if site.posts.size == 1 %}post{% else %}posts{% endif %} total</p>
<table>
    {% for post in site.posts %}
        <tr>
            <td class="postdate">{{ post.date | date: "%b %e, %Y" }}</td>
            <td><a href="{{ post.url }}">{{ post.title }}</a></td>
        </tr>
    {% endfor %}
</table><br>

{% assign pdfs = site.static_files | where: "extname", ".pdf" %}
<p>{{ pdfs.size }} {% if pdfs.size == 1 %}PDF writeup{% else %}PDF writeups{% endif %} total</p>
<table>
    {% for pdf in pdfs %}
        <tr>
            <td><a target="blank" href="{{ pdf.path }}">{{ pdf.name }}</a></td>
        </tr>
    {% endfor %}
</table>